{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Network</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/vis.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/network.css' %}">
  <link rel="stylesheet" href="{% static 'css/infobox.css' %}">
  <script type="text/javascript">
    // var nodelist = {{ nodelist|safe }};
    // var edgelist = {{ edgelist|safe }};
  </script>
</head>

<body>
  <div id="networkinfo">
    <div class="label" id="nodenum"></div>
    <div class="label" id="edgenum"></div>
  </div>

  <div id="buttonlist">
    <input type="button" id="reset" value="Reset" class="btn">
    <div id="algorithm">
      <input type="text" placeholder="K" id="kdata">
      <input type="button" id="kclique" value="K-Clique" class="btn">
    </div>
    <input type="button" id="reference-network" value="Reference" class="btn">
    <input type="button" id="author-network" value="Author" class="btn">
  </div>

  <div id="network"></div>

  <div class="infocard hidden">
    <div id="wrapper">
      <div id="left-side">
        <ul>
          <li class="choose1 active">
          </li>
          <li class="choose2">
          </li>
          <li class="choose3">
          </li>
        </ul>
      </div>

      <div id="info-border">
        <div id="line" class="one"></div>
      </div>

      <div id="right-side">
        <div id="first" class="active">
        </div>

        <div id="second" class="">
        </div>

        <div id="third" class="">
        </div>
      </div>
    </div>
  </div>

  <div id="loadingBar" class="hidden">
    <div class="outerBorder">
      <div id="text">0%</div>
      <div id="border">
        <div id="bar"></div>
      </div>
    </div>
  </div>

  <div id="ranklist">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead id="rankheader">
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody id="rankcontent">
        </tbody>
      </table>
    </div>
  </div>

  <script src="{% static 'js/vis.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/visualnetwork.js' %}"></script>
  <script src="{% static 'js/infobox.js' %}"></script>
</body>
</html>
