body {
  background-color: #171717;
}

section {
  width: 1200px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -600px; 
  z-index: 1;
}

#side { 
  margin-bottom: 20px;
  margin-left: -1080px;  
}

.btn {
  display: inline;
  padding: 0;
  width: 90px;
  height: 50px;
  background: none;
  margin-right: 30px;
  border: 2px solid #DBE9F5;
  font-size: 20px;
  font-family: "Lato";
  color: #DBE9F5;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.btn:hover {
  background: #DBE9F5;
  color: white;
}

table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }

.tbl-content{
  height:450px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

::-webkit-scrollbar {
  width: 10px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0); 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0); 
}
